<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>


<!-- jQueryUI generated CSS -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui.theme.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}primeui-1.1.css"/>
<!-- my own CSS -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mystyle.css"/>

<!-- jQuery javascript -->
<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.11.3.min.js"> </script>

<!-- jQueryUI CDN-->
<script type="text/javascript" charset= "utf8" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"> </script>




<!-- PrimeUI javascript - NOT CDN -->
<script type="text/javascript" charset="utf8" src="{{ STATIC_URL }}primeui-1.1.js"> </script>



{% block head %}
{% endblock %}

</head>
<body>
<div class = "titlebar"><a href = "/about.html">Database of Arabic Dialects
    <span class = "arabicTitle">     ضاد </span> </a>
    <span class="versioninfo" style="font-size: .5em;">Version .90 Al-Ḥira. 2015 by Alexander Magidow</span></div>
<!-- Top menu bar -->
<ul id = "topmenu">
    <li><a href ="/about.html">About</a>
    <ul>
        <li><a>Info Lists</a>
            <ul>
                <li><a href="/list/tags/">Entry Tags</a></li>
                <li><a href="/list/dialects/">Dialects</a></li>
                <li><a href="/list/contributors/">User Contributions of Data</a></li>
            </ul>
        </li>
    </ul>
    </li>
    <li><a>Data Input</a>
        <ul>
            <li><a href="/inputForm/">General Input</a></li>
            <li><a>Paradigm Input</a>
            <ul> <!-- This automatically populates the list of paradigms, BUT at the cost of requiring we pass paradigmDict to all views-->
            {% if paradigmDict|length > 0 %} <!-- This should catch it gracefully and simply not populate it -->
                <!-- Hitting paradigmDict -->
                {% for name, object in paradigmDict %}
                    <!-- {{ name }} -->
                    <!-- {{ object.paradigmname }} -->
                    <li><a href="/complexIn/{{ name }}/">{{ object.paradigmname }}</a></li>
                {% endfor %}
            {% endif %}
                </ul>
            </li>
        </ul>
    </li>
    <li><a>Data Visualization</a>
        <ul>
            <li><a href="/search/map/">Map search</a></li>
            <li><a href="/search/list/">List search</a></li>
            <li><a href="/complexOut/">Paradigm search</a></li>
            <li><a href="/search/cross/">Cross search</a></li>
        </ul>
    </li>
</ul>


{% csrf_token %}

<script type="text/javascript">
    $(document).ready(function(){
        $('#topmenu').puimenubar();
    });

</script>

{% block body %}
{% endblock %}

<div class = "loginfloat">
    {% if request.user.is_authenticated %}
        Logged in as: {{ request.user.username }}. <a href = "/logout/">Logout</a>
    {% else %}
        <a href = "/login/">Login?</a>
    {% endif %}
</div>

</body>
</html>