{% extends "baseJQ.html" %}
{% block head %}

{% endblock %}

{% block body %}

    <form name="complexform" id="complexform" method = "POST">
{% csrf_token %}
        <div>
          {{ dialectForm|safe }}
    </div>

<input type="hidden" name="sharedtags" value = {{ dataStruct.sharedtags|join("_") }} form="complexform">

<table id="complextable" class="display" border="1">
    <thead>
{% set colMult = 1 %}
{% if dataStruct.annotation %}
    {% set colMult = 2 %} {# make columns doubly side if annotation is needed #}
{% endif %}
    {% if dataStruct.subcolumns %} {# this section builds the first row of the header #}
        <tr> {# inherently spans 2 rows if there are subcolumns #}
        <th rowspan="2" {% if dataStruct.subrows %}colspan="2"{% endif %}> {{ dataStruct.paradigmname }}</th> {# this needs to span 2 columns if there are sub-rows #}
        {% for column in dataStruct.columns %}
                {% if column.subheaders %}
                    <th colspan= "{{ column.subheaders|length * colMult }}">{{ column.headername }}</th>
                {% else %}
                    <th rowspan="2" colspan="{{ colMult }}">{{ column.headername }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            {% for column in dataStruct.columns %}
                {% if column.subheaders %}
                    {% for subhead in column.subheaders %}
                        <th colspan="{{ colMult }}">{{ subhead.headername }}</th>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tr>
    {% else %} {# If no sub-columns, create only one row #}
        <tr>
        <th> {{ dataStruct.paradigmname }}</th>
            {% for column in dataStruct.columns %}
                <th colspan="{{ colMult }}">{{column.headername}}</th> {# removed since it makes no sense: {% if dataStruct.subrows %}rowspan="2" {% endif %} #}
            {% endfor %}
        </tr>
    {% endif %}
    {% for row in dataStruct.rows %} {# must iterate twice if doubled #}
        {% if row.subheaders %}
            <tr>
            <th rowspan="2">{{ row.headername }}</th>
            {% for subrow in row.subheaders %}
                {% if not loop.first %}<tr>{% endif %}
                <th>{{ subrow.headername }}</th>
                {# Iterate through columns, interpolate row values from header and subheader #}
                {% for column in dataStruct.columns -%} {# most complicated - multi row mutli column #}
                    {% for subcol in column.subheaders %}
                        {# join is used to convert lists back to strings #}
                       {% set cellglosstags = row.headertags + subrow.headertags +column.headertags %}
                       {% set cellalltags = cellglosstags + subcol.headertags %}
                       {% set cellID = dataStruct.getGloss(cellglosstags) + ":" + cellalltags|join("_") %}
                        {% set annotationID = "" %}
                        {% set relatedtags = "" %}
                        {% if subcol.relatedTo %}
                            {% set relatedtags = dataStruct.getGloss(cellglosstags) + ":" + cellglosstags|join("_") + "_" + column.getsubtags(subcol.relatedTo)|join("_") %}
                            {% set cellID = relatedtags + ">" + subcol.relatedHow + "|" + cellID %}
                        {% endif %}
                        {% if dataStruct.annotation %}
                            {% set annotationID = "*annotation|" + cellID %}
                        {% endif %}
                        {% set cellID = "*"+ cellID  %}
                        <td><input type = "text" id = "{{ cellID|safe }}" name = "{{ cellID|safe }}"></td>
                        {% if dataStruct.annotation %}
                            <td>Annotate:<input type = "text" id = "{{ annotationID|safe }}" name = "{{ annotationID|safe }}"></td>
                        {% endif %}
                       {#    <td><input type="text" id=></td> #}
                       {# <td>{{ row.headername }},{{ subrow.headername }},{{ column.headername }}, {{ subcol.headername }}</td> #}
                    {% else %} {# multiple rows since column #}
                        {% set cellalltags = row.headertags + subrow.headertags +column.headertags %}
                        {% set cellID = dataStruct.getGloss(cellalltags) + ":" + cellalltags|join("_") %}

                        {% set annotationID = "" %}
                         {% if dataStruct.annotation %}
                            {% set annotationID = "*annotation|" + cellID %}
                        {% endif %}
                        {% set cellID = "*"+ cellID  %}
                        <td><input type = "text" id = "{{ cellID|safe }}" name = "{{ cellID|safe }}"></td>
                        {% if dataStruct.annotation %}
                            <td>Annotate:<input type = "text" id = "{{ annotationID|safe }}" name = "{{ annotationID|safe }}"></td>
                        {% endif %}
                       {# <td>{{ row.headername }},{{ subrow.headername }},{{ column.headername }}</td> #}
                    {% endfor %}
                {% endfor %}
                {% if not loop.first %}</tr>{% endif %}
            {% endfor %}
            </tr>

        {% else %} {# single row #}
            <tr>
               <th {% if dataStruct.subrows %}colspan = "2"{% endif %}>{{ row.headername }}</th>
                {% for column in dataStruct.columns %} {# single row, multiple columns #}
                    {% for subcol in column.subheaders -%}
                       {% set cellglosstags = row.headertags + column.headertags -%}
                       {% set cellalltags = cellglosstags + subcol.headertags -%}
                       {% set cellID = dataStruct.getGloss(cellglosstags) + ":" + cellalltags|join("_") -%}
                        {% set annotationID = "" %}
                        {% set relatedtags = "" %}
                        {% if subcol.relatedTo %}
                            {% set relatedtags = dataStruct.getGloss(cellglosstags) + ":" + cellglosstags|join("_") + "_" + column.getsubtags(subcol.relatedTo)|join("_") %}
                            {% set cellID = relatedtags + ">" + subcol.relatedHow + "|" + cellID %}
                        {% endif %}
                        {% if dataStruct.annotation %}
                            {% set annotationID = "*annotation|" + cellID %}
                        {% endif %}
                        {% set cellID = "*"+ cellID  %}
                        <td><input type = "text" id = "{{ cellID|safe }}" name = "{{ cellID|safe }}"></td>
                        {% if dataStruct.annotation %}
                            <td>Annotate:<input type = "text" id = "{{ annotationID|safe }}" name = "{{ annotationID|safe }}"></td>
                        {% endif %}
                    {% else %}
                        {% set cellalltags = row.headertags + column.headertags %}
                        {% set cellID = dataStruct.getGloss(cellalltags) + ":" + cellalltags|join("_") %}

                        {% set annotationID = "" %}
                         {% if dataStruct.annotation %}
                            {% set annotationID = "*annotation|" + cellID %}
                        {% endif %}
                         {% set cellID = "*"+ cellID  %}
                        <td><input type = "text" id = "{{ cellID|safe }}" name = "{{ cellID|safe }}"></td>
                        {% if dataStruct.annotation %}
                            <td>Annotate:<input type = "text" id = "{{ annotationID|safe }}" name = "{{ annotationID|safe }}"></td>
                        {% endif %} {# single row, single column #}
                    {% endfor %}
                {% endfor %}
            </tr>

        {% endif %}


    {% endfor %}
    </thead>
 <input type="submit" value="Submit" />
</form>
{% endblock %}