{% extends "baseJQ.html" %}
{% block head %}


{% endblock %}

{% block body %}
        <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px;margin-bottom: 20px; padding: 0 .7em;">
<strong>Instructions:</strong> Choose the shared data for the input, then enter your data into the paradigm. You do not need to fill in every cell to submit - blank cells will not be submitted.
        You can separate variants with a / or you can use a set of parentheses to indicate optionality. You can combine both, and all variants will be placed into the database.
</div>

{##################MACROS#########################}
{% macro cellaction(cellglosstags, cellalltags, relatetags = '') -%}
    {% if dataStruct.inherit %}
        {% set glossTags = dataStruct.getGloss(cellalltags) %}
    {% else %}
        {% set glossTags = dataStruct.getGloss(cellglosstags) %}
    {% endif %}

    {% if glossTags != "NoGloss" %}
{% set cellID = glossTags + ":" + cellalltags|join("_") -%}
{% if relatetags -%}
     {% set cellID = relatedtags + ">" + subcol.relatedHow + "|" + cellID -%}
{% endif -%}
  <td><input type = "text" id = "*{{ cellID|safe }}" name = "*{{ cellID|safe }}" value={{ dataStruct.defaultvalue }}></td>
{% if dataStruct.annotation -%}
    {% set annotationID = "*annotation|" + cellID %}
    <td><textarea rows = "1" cols="20" id = "{{ annotationID|safe }}" name = "{{ annotationID|safe }}"></textarea></td>
{% endif -%}
    {% else %}
        {# do nothing in this cell, leave it blank #}
        <td></td>
        {% if dataStruct.annotation -%}
    <td></td>
{% endif -%}

    {% endif %}
{%- endmacro %}


    <form name="complexform" id="complexform" method = "POST">
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <div>
          {{ dialectForm|safe }}
    </div>
            <div>
     <input type="submit" value="Submit" />
            </div>

             {% if  dataStruct.optionalsharedtags -%}
                        <div>
                {% set radioset = 0 %}
                {% for optionset in dataStruct.optionalsharedtags %}
                {% set firstradio = True %}
                <div class = 'radioset'>
                    {% for key, value in optionset.items() %}
                        <input type = "radio" name = "optionsset{{ radioset }} " value = {{ value }}
                                {% if firstradio -%}
                        checked = "checked" {% set firstradio = False -%}{% endif -%}
                        > {{ key }}
                    {% endfor %}
                    {% set radioset = radioset + 1 %}
                </div>
                {% endfor %}
                        </div>
            {% endif -%}


{% include "ComplexTableOnly.jinja" %}

</form>

{% endblock %}