{% extends "baseJQ.html" %}
{% block head %}


<!-- Django's handling of form.media.js properties is a disaster, doesn't put them in order, so hardcoding here -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/actions.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/SelectBox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/SelectFilter2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/related-widget-wrapper.js"></script>

{% include "sourceFSAC.html" %}
{% endblock %}

{% block body %}
    <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px;margin-bottom: 20px; padding: 0 .7em;">
    <span style="font-size: large;font-weight: bold"> Use of this form is highly discouraged. Please use paradigm input if possible. If you must use this form, please check other, similar data to ensure
    consistency in tagging. If a paradigm input for your purpose does not exist, please contact website owner.</span><br>

<strong>Instructions:</strong> Choose the shared information for all of the data that you intend to input, then fill in the information for each individual datum below.
        Tags are given as a comma-separated list. Glosses are suggested - if a gloss already exists, please use it. Click the plus key to add another datum.
</div>

    {{ form.errors }}
{{ form.non_field_errors }}
<form action="/inputForm/" method="post">
    {% csrf_token %}

    <div class="ui-widget" style="font-size: 1em;">
   {{ dialectForm }}
     </div>
    {{ dataFormset.management_form }}

        {% for f_form in dataFormset %}
        <table id="inputform" border-bottom='1px dashed brown' class="ui-widget" style="font-size: 1em;">
            {{ f_form}}

        </table>
        {% endfor %}


<script type="text/javascript">
    function enableHorizFilter(row){
        filterbox = $(".selectfilter",row); //Row contains the whole row, select only our input box. This could break if there are multiple widgets like this, I think.
        filterboxID = filterbox.attr("id");
        //Copied from the source of the page, might break things if I change the defaults, hardcoded
        SelectFilter.init(filterboxID,"Tags",0, "{{ STATIC_URL }}admin/");
    }

        $('#inputform').formset( //this adds the formset controls
            {
              addText: "+",
                deleteText: "-",
                addCssClass: "addremovebutton",
                deleteCssClass: "addremovebutton",
                added: function(row){
                  enableHorizFilter(row);
                   enableAutoComplete(row);

                   // function(e) {SelectFilter.init("id_form-0-entryTags", "Tags", 0, "/static/admin/");
                }
            });
</script>


    <input type="submit" value="Submit" />
</form>
{% endblock %}