<html>
<head>
  <title>OpenLayers Example</title>
    <script src="http://openlayers.org/api/OpenLayers.js"></script>
    </head>
    <body>
      <div style="width:100%; height:100%" id="map"></div>
      <script defer="defer" type="text/javascript">

        var map = new OpenLayers.Map('map');
        var wms = new OpenLayers.Layer.WMS( "OpenLayers WMS",
            "http://vmap0.tiles.osgeo.org/wms/vmap0", {layers: 'basic'} );
        var kmlFile = new OpenLayers.Protocol.HTTP({url: "/kml/", format: new OpenLayers.Format.KML()});
        var kml = new OpenLayers.Layer.Vector("KML", {strategies: [new OpenLayers.Strategy.Fixed()],
         visibility: true,
            protocol: kmlFile
            });
       map.addLayers([wms,kml]);
      // wms.display(false);
       // kml.display(true);
       // map.addLayer(kml);
        map.zoomToMaxExtent();
      </script>

</body>
</html>