{% extends "base.html" %}
    {% block head %}
        <link rel="stylesheet" href="http://openlayers.org/en/v3.0.0/css/ol.css" type="text/css">
    <style>
      .map {
        height: 400px;
        width: 100%;
      }
    </style>
        <script src="http://openlayers.org/en/v3.0.0/build/ol.js"></script>
    {% endblock %}


   {% block body %}
       <div class="map" id="map"></div>
      <script type="text/javascript">
           //http://openlayers.org/api/OpenLayers.js


       // var bounds = new OpenLayers.Bounds(-45, 0, 70, 40);
        //var wms = new OpenLayers.Layer.WMS( "OpenLayers WMS",
        //    "http://vmap0.tiles.osgeo.org/wms/vmap0", {layers: 'basic'} );
        var kmlURL = "/kmlSearchComp" + window.location.search;

       // var kmlURL = "http://openlayers.org/en/v3.0.0/examples/data/kml/2012-02-10.kml"
        var kmlLayer = new ol.layer.Vector({
            source: new ol.source.KML({
           // projection: ol.proj.get('EPSG:4326'),
            url: kmlURL
                })
            });

           //var raster = new ol.layer.Tile({source: new ol.source.TileWMS({layer: 'sat'})});
           var raster = new ol.layer.Tile({source: new ol.source.MapQuest({layer: 'sat'})});

           var secondRaster = new ol.layer.Tile({
               source: new ol.source.TileWMS({
                 url: 'http://demo.opengeo.org/geoserver/wms',
                 params: {
                  'LAYERS': 'ne:NE1_HR_LC_SR_W_DR'
                }
                })
            });

           var map = new ol.Map({
        target: 'map',
        layers: [secondRaster, kmlLayer],
        view: new ol.View({
            projection: 'EPSG:4326',
            center: [0, 0],
            zoom: 2
          })
      });
         //  map.addLayer(kmlLayer);

       // var kmlFile = new OpenLayers.Protocol.HTTP({url: kmlURL, format: new OpenLayers.Format.KML()});
       // var kml = new OpenLayers.Layer.Vector("KML", {strategies: [new OpenLayers.Strategy.Fixed()],
      //   visibility: true,
      //      extractStyles: true,
       //     protocol: kmlFile
       //     });
       // map.addLayers([wms,kml]);
      // wms.display(false);
       // kml.display(true);
       // map.addLayer(kml);
        // map.zoomToExtent(bounds);
        //map.zoomToMaxExtent();
      </script>
    {% endblock %}