<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th rowspan="2" colspan="2">blank</th>
        <th colspan="3">singular</th>
        <th rowspan="2">plural</th>
        <th colspan="2">other</th>
    </tr>
    <tr>
        <th>C_</th>
        <th>V_</th>
        <th>VV_</th>
        <th>1</th>
        <th>2</th>
    </tr>
    </thead>
    <tr>
        <th colspan="2">First</th>
        <td>INPUTHERE</td>
        <td>INPUTHERE</td>
        <td>INPUTHERE</td>
        <td>INPUTHERE</td>
    </tr>
    <tr>
        <th rowspan="2">Second</th>
        <th>Masculine</th>
        <td>INPUTHERE</td>
        <td>INPUTHERE</td>
        <td>INPUTHERE</td>
        <td>INPUTHERE</td>
    </tr>
    <tr>
        <th>Feminine</th>
        <td>INPUTHERE</td>
        <td>INPUTHERE</td>
        <td>INPUTHERE</td>
        <td>INPUTHERE</td>
    </tr>
    <tr>
        <th colspan="2">Third</th>
        <td>INPUTHERE</td>
        <td>INPUTHERE</td>
        <td>INPUTHERE</td>
        <td>INPUTHERE</td>
    </tr>
</table>
</body>
</html>