{% extends "baseJQ.html" %}


{% block head %}
{% include "sourceFSAC.html" %}

    {% ifequal initialSource "/leafletmap/" %}

 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>


 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>



    {% endifequal %}


      {% ifequal initialSource "/tableview/" %}
        {% include "sourceDT.html" %}
{% endifequal %}

<style>
		body {
			padding: 0;
			margin: 0;
		}
        .leaflet-container {  /* all maps */
            width:  100%;
            height: 900px;
        }
	</style>

{% endblock %}

{% block body %}

<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
<strong>Instructions:</strong> Enter search parameters into the appropriate box. Click the plus button to add another search, and the minus button to remove one.
    Color will change the colors in the map view, or provide another category to sort by in the list view. Two searches with the same color will be treated as an "AND" search.
    The searches for Arabic words or annotations use a regex search. The search for gloss and tags use a 'contained in' search, so you may enter a partial gloss or tags to get a wider set of results.
You can put an exclamation point at the beginning of any element of the search to exclude elements with that feature from the result, e.g. a NOT search. For tags, you can do this by the individual tag,
    so a search for 'demonstrative.pronoun, !distal' will only show non-distal demonstratives.
</div>

<form id= "searchform"  method = "POST">
{% csrf_token %}

    {{ dataFormset.management_form }}
    <table class = "ui-widget" width = "90%">
        <thead>
            <tr>
                <th>Color</th>
                <th>Arabic Word</th>
                <th>Gloss</th>
                <th>Annotation</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody border="0" cellpadding = "0" cellspacing="0">
        {% for f_form in dataFormset %}
            <tr>
            <td> {{ f_form.colorinput}}</td>
            <td> {{ f_form.wordSearch}}</td>
            <td> {{ f_form.glossSearch}}</td>
            <td> {{ f_form.annotationSearch}}</td>
            <td> {{ f_form.tagSearch}}</td>
            </tr>
                        <br>
       {% endfor %}
        </tbody>
    </table>

<input type="submit" value="Submit" />
{% if csvlink %}
    <a href = "/mapcsv/">CSV Export</a>
{% endif %}


 </form>

{% if searchquery != '' %}
    <p>Your search: {{ searchquery|linebreaks }}</p>
    {% endif %}
<!-- This needs to be customized for each page -->
    <script type="text/javascript">
        $('#searchform tbody tr').formset( //this adds the formset controls
            {
                prefix: 'ms',
              addText: "+",
                deleteText: "-",
                addCssClass: "addremovebutton",
                deleteCssClass: "addremovebutton",
                added: function(row){
                   enableAutoComplete(row);
                }
            });
</script>

<div name ="results" id="results" width="100%" height="1000" border = "1px solid black">
{% ifequal initialSource "/leafletmap/" %}
    {% include "LeafletMap.html" %}
{% endifequal %}
{% ifequal initialSource "/tableview/" %}
    {% include "DTview.html" %}
{% endifequal %}
</div>

{% endblock %}