{% extends "baseJQ.html" %}
{% block head %}
   {% endblock %}

{% block body %}
<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px;margin-bottom: 20px; margin-left: 100px;margin-right: 100px; padding: 0 .7em;">
<h1 align="center"> Versions and Changes</h1>
    <ul>
    <li>Version .91 - 8/4/2015</li>
        <ul>
            <li>Added 'collaborators' so that private data can be shared with other users. Collaboration relationships are unidirectional.
                Users may add collaborators through the admin interface.</li>
            <li>Added this versions and changelog page.</li>
        </ul>
    <li>Version .90 - 6/25/2015</li>
        <ul>
            <li>First publicly accessible version of DAD.</li>
        </ul>
    </ul>

<p style="text-align:center">This page last updated 6/26/2015</p>
</div>

{% endblock %}