    .addremovebutton {
        text-decoration: none;
        font-size: 1.2em;
        border: 1px solid black;
        padding: 1px 4px 1px 4px;
        background-color: #FFFFF5;
    }

    body{
    background-color: #FFFFF5;
    }

.titlebar {
	border: 3px solid #628C75;
	background: #628C75 url("images/ui-bg_loop_45_3f634f_21x21.png") 50% 50% repeat;
	color: #ffffff;
	font-weight: bold;
    font-size: 1.7em;
    font-family: Palatino, Georgia, "Times New Roman", Times, serif;
}

.footerbar {
	border: 3px solid #628C75;
	background: #628C75 url("images/ui-bg_loop_45_3f634f_21x21.png") 50% 50% repeat;
	color: #ffffff;
	font-weight: bold;
    font-size: 1em;
    font-family: Palatino, Georgia, "Times New Roman", Times, serif;
    text-align: center;
     /*position: fixed;
  bottom: 0;
    right:0;*/
}

.loginfloat {
	border: 3px solid #628C75;
	background: #628C75 url("images/ui-bg_loop_45_3f634f_21x21.png") 50% 50% repeat;
	color: #ffffff;
	font-weight: bold;
    font-size: .6em;
    font-family: Palatino, Georgia, "Times New Roman", Times, serif;
    text-align: center;
     position: fixed;
  bottom: 0;
    right:0;
}


.titlebar .arabicTitle {
    font-family: "Sakkal Majalla", "Scheherazade", "Arabic Typesetting", "Lateef";
    	font-weight: bold;
    font-size: 1.7em;
}
.titlebar .arabicTitle .versioninfo {
    font-weight: bold;
    font-size: .5em;
    font-family: Palatino, Georgia, "Times New Roman", Times, serif;
    text-align: right;
}
.titlebar a {
    text-decoration: none;
}

/* unvisited link */
.titlebar a:link {
    color: white;
}

/* visited link */
.titlebar a:visited {
    color: white;
}

/* mouse over link */
.titlebar a:hover {
    color: #f5f5f5;
}

/* selected link */
.titlebar a:active {
    color: white;
}